{layout name="admin/layout/base" /}
<legend>基本信息</legend>
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="100">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>订单号</th>
        <th>购买用户</th>
        <th>支付方式</th>
        <th>下单时间</th>
        <th>付款时间</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{$order_info.porder_no}</td>
        <td>{$order_info.username}</td>
        <td>{$order_info.channel}</td>
        <td>{:date('Y-m-d H:i:s', $order_info.create_time)}</td>
        <td>{$order_info.pay_time}</td>
    </tr>
    </tbody>
</table>
<table class="layui-table">
    <thead>
    <tr>
        <th>订单状态</th>
        <th>配送方式</th>
        <th>快递单号</th>
        <th>发货时间</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{$order_info.order_status_title}</td>
        <td>{$order_info.express_com}</td>
        <td>{$order_info.express_no}</td>
        <td>{$order_info.delivery_time ? $order_info.delivery_time : '--'}</td>
    </tr>
    </tbody>
</table>

<legend>收货人信息</legend>
<table class="layui-table">
    <thead>
    <tr>
        <th>收件人</th>
        <th>收件人手机号</th>
        <th>邮编</th>
        <th>收货地址</th>
        <th>用户姓名</th>
        <th>用户手机号</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{$order_info.contact_name}</td>
        <td>{$order_info.contact_tel}</td>
        <td>{$order_info.zip_code}</td>
        <td>{$order_info.province}{$order_info.city}{$order_info.area}{$order_info.address}</td>
        <td>{$order_info.username}</td>
        <td>{$order_info.mobile}</td>
    </tr>
    </tbody>
</table>
<legend>商品信息</legend>
<table class="layui-table">
    <thead>
    <tr>
        <th>商品名称</th>
        <th>商品编号</th>
        <th>商品图片</th>
        <th>价格</th>
        <th>数量</th>
        <th>库存</th>
        <th>小计</th>
    </tr>
    </thead>
    <tbody>
    {foreach $goods_list as $goods}
    <tr>
        <td>{$goods.title}</td>
        <td>{$goods.name}</td>
        <td><img src="{$goods.cover}" alt="" style="width: 100px;"></td>
        <td>{$goods.price}</td>
        <td>{$goods.num}</td>
        <td>{$goods.stock}</td>
        <td>{$goods.price_total}</td>
    </tr>
    {/foreach}
    <tr>
        <td colspan="7" style="text-align: right;">合计：¥{$goods_amount}</td>
    </tr>
    </tbody>
</table>
<legend>退款信息</legend>
<table class="layui-table">
    <thead>
    <tr>
        <th>买家退款原因</th>
        <th>商品总金额</th>
        <th>应退金额</th>
        <th>实退金额</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{$order_info.reason}</td>
        <td>{$goods_amount}</td>
        <td>{$order_info.refund_fee}</td>
        <td>{$order_info.refund_fee}</td>
    </tr>
    </tbody>
</table>
<hr>
<legend>操作信息</legend>
{if($order_info.status == 0)}
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">操作者</label>
        <div class="layui-input-block">
            <input type="text" readonly required  lay-verify="required" value="{$admin.realname}({$admin.username})" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">操作</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="同意并在线退款" checked>
            <input type="radio" name="status" value="2" title="拒绝退款" >
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入备注" class="layui-textarea" name="remark"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="form">提交</button>
        </div>
    </div>
</form>
{/if}
<table class="layui-table">
    <thead>
    <tr>
        <th>操作者</th>
        <th>操作时间</th>
        <th>操作行为</th>
        <th>备注</th>
    </tr>
    </thead>
    <tbody>
    {foreach $log_list as $log}
    <tr>
        <td>{$log.admin_name}</td>
        <td>{:date('Y-m-d H:i:s', $log.create_time)}</td>
        <td>{$do_status[$log['do_status']]}</td>
        <td>{$log.remark}</td>
    </tr>
    {/foreach}
    </tbody>
</table>
<script>
    var order_info = {:json_encode($order_info)};
    //注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
    layui.use(['element', 'jquery', 'layer', 'form'], function(){
        var element = layui.element
                , $ = layui.jquery
                , layer = layui.layer
                , form = layui.form;

        form.render();
        form.on('submit(form)', function(data){
            data.field.refund_id = order_info.id;
            $.post("/admin/mallrefund/refundPost", data.field, (res) => {
                if(res.code === 1){
                    layer.msg(res.msg, {time: 2000}, () => {
                        location.reload();
                    });
                }else{
                    layer.alert(res.msg);
                }
            });
            return false;
        });
    });

</script>
